<!-- <p id="notice"><%= notice %></p> -->

<% title "Neighborhoods" %>

<% if current_user && current_user.admin_role? %>
  <div class="container placeContainer mb-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6>Yer an admin and you can do shit like this:</h6>
          <%= link_to 'New Hood', new_hood_path %>
          <hr/>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <% for hood in @hoods.all.order(:name) %>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= link_to(image_tag(hood.image.url, style: 'width: 100%;', class: 'mb-4'), hood) %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <% if current_user && current_user.admin_role? %>
          <%= link_to 'Show', hood %> | <%= link_to 'Edit', edit_hood_path(hood) %> | <%= link_to 'Destroy', hood, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <h1><%= hood.name %></h1>
      <p><%= hood.description %></p>
    </div>


  </div>
  <% end %>
</div>
